# 📦 Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 🔧 Vite
dist/
.vite/

# 📁 Środowiskowe
.env
.env.*.local
.env.local

# 🧪 Testy i coverage
coverage/

# 🖥️ Visual Studio Code
.vscode/

# 🧱 Visual Studio (pełna wersja)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 🗑️ Systemowe
.DS_Store
Thumbs.db

# 🛠️ Inne cache
*.log
.cache/

# cert
cert/