<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <button onclick="addOne()">add one</button>
    <button>add many</button>
    <button>delete selected</button>
    <button>update selected</button>
    <button>get all</button>
    <button>delete all</button>
    <br>
    <select name="animal" id="animal">
        <option value="kot">kot</option>
        <option value="pies">pies</option>
        <option value="krowa">krowa</option>
    </select>
    <select>
        <option>white</option>
        <option>black</option>
        <option>yellow</option>
    </select>

    <script>
        const fetchPost = async (status, animalTab) => {

            const data = JSON.stringify({
                status: status
            })

            const options = {
                method: "POST",
                body: data
            };

            const response = await fetch("/add", options)
            if (!response.ok)
                return response.status
            else
                return await response.text() // lub response.json()

        }
        function addOne() {
            const animalSelect = document.getElementById('animal')
            console.log('ok')
            console.log(animalSelect.value)
            let animalTab = {
                name: animalSelect.value
            }
            fetchPost("animal added", animalTab)
        }
    </script>
</body>

</html>